@keyframes sliding{
    0%{
        background-color: chartreuse;
        left: 0;
        top: 0;
    }
    50%{
        top: 200px;
        transform: scale(.5);
    }
    100%{
        background-color: magenta;
        left: 300px;
        top: 0;
    }

}
.stage{
height: 400px;
width: 400px;
background-color: cornflowerblue;
border: 3px solid black;
}
.ball{
    height: 70px;
    width: 70px;
background-color: chartreuse;
border-radius: 50%;
position: relative;
animation: sliding 1s ease-in-out .5s infinite  alternate;
animation-play-state: running;
}